.ubc {
    width: 75px;
    height: 100px;
    color: #FED700;
}

.harvard {
    width: 115px;
    height: 100px;
}


.sfu {
    width: 200px;
    height: 100px;
    color: #FFFFFF;
}

.google {
    width: 100px;
    height: 100px;
    color: #DB4437;
}

.harvard-text {
    margin-top: 42px;
    margin-bottom: 41px;
    font-size: 48px;                       
    color: #000000; 
}

.sfu-text {
    margin-top: 42px;
    margin-bottom: 41px;
    font-size: 48px;     
    color: #FFFFFF;                    
}

.google-text {
    margin-top: 42px;
    margin-bottom: 41px;
    font-size: 48px;        
    color: #DB4437;                    
}

.api {
    margin-bottom: 15px;
}

body {
    background-color: "#0C2344";
    text-align: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
}

p:first-child {
    margin-top: 30px;
    margin-bottom: 0;
}

p {
    margin: auto;
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.header {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 10px;
    font-size: 5.5em;
}